[submodule "rocketgithub/l10n_gt_extra"]
	path = rocketgithub/l10n_gt_extra
	url = git@github.com:rocketgithub/l10n_gt_extra.git
	branch = 13.0

[submodule "rocketgithub/fel_gt"]
	path = rocketgithub/fel_gt
	url = git@github.com:rocketgithub/fel_gt.git
	branch = 13.0

[submodule "rocketgithub/fel_infile"]
	path = rocketgithub/fel_infile
	url = git@github.com:rocketgithub/fel_infile.git
	branch = 13.0

[submodule "rocketgithub/pos_gt"]
	path = rocketgithub/pos_gt
	url = git@github.com:rocketgithub/pos_gt.git
	branch = 15.0
